# Setup

In [1]:
#dependecies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sts

#links for project
# Brainstorming: https://docs.google.com/document/d/12Z4DCdVAte6-cMMAv_EZIdZdDpvUzxOuDvNcNFio4PM/edit

# Importing/Merging DFs

In [2]:
#variables for forloop
import_filenames = ['disney_plus_content_1.csv', 'disney_plus_content_2.csv', 'movies_per_streaming.csv', 'shows_per_streaming.csv']

#variable to store all df data
df_list = []

#importing data
for path in import_filenames:
    df_list.append(pd.read_csv(f"Resources/{path}"))

We did a manual review of all the columns in our 10+ datasets and decided which columns to keep:

- Netflix
- Disney
- Hulu
------
- Title
- Type (movie vs show)
- Genre
- Rated (PG13)
- Starring/Cast
- Directors
- Year relased
- Age
- Awards
- Language
- Country
- Date_Added
- Release_Year
- Rotten Tomatoes
- IMDb
- Imdb_Rating
- Imdb_Votes
- Metascore
- Box Office
- Budget
- Running Time

### Precleaning

In [3]:
#defining function for dropping columns
def dropper(df, drop_columns):
    df = df.drop(drop_columns, axis = 1)
    return df

In [4]:
#variable for loop
df_column_list = [
    ['Imdb_Id', 'Plot', 'Released_At', 'Writer'],
    ['Show_Id', 'Description'],
    ['Unnamed: 0', 'Id', 'Netflix', 'Hulu', 'Prime Video'],
    ['Unnamed: 0', 'Id', 'Netflix', 'Hulu', 'Prime Video']
]

In [5]:
#capitalizing and then dropping unnecessary columns
for i in range(len(df_list)):
    df_list[i].columns = map(str.title, df_list[i].columns)
    df_list[i] = dropper(df_list[i], df_column_list[i])

In [6]:
#manually slicing of df2,3
for i in range(2,4):
    df_list[i] = df_list[i].loc[df_list[i]['Disney+'] == 1]
    df_list[i] = dropper(df_list[i], ['Disney+'])

### Merging DFs

In [7]:
#merging all dfs
merged_df_01 = pd.merge(df_list[0], df_list[1], on = 'Title', how = 'outer')
merged_df_34 = pd.merge(df_list[2], df_list[3], on = 'Title', how = 'outer')
merged_df = pd.merge(merged_df_01, merged_df_34, on = 'Title', how = 'outer')
merged_df.head()

,Title,Type_x_x,Rated,Year,Added_At,Runtime_x,Genre,Director_x,Actors,Language_x,...,Directors,Genres,Country,Language_y,Runtime_y,Year_y,Age_y,Imdb_y,Rotten Tomatoes_y,Type_y_y
0,10 Things I Hate About You,movie,PG-13,1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",...,NaN,NaN,NaN,NaN,NaN,2009.0,16+,7.3/10,67/100,1.0
1,101 Dalmatian Street,series,NaN,2018–,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,...,NaN,NaN,NaN,NaN,NaN,2019.0,7+,6.3/10,44/100,1.0
2,101 Dalmatians,movie,G,1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish",...,NaN,NaN,NaN,NaN,NaN,1997.0,NaN,NaN,21/100,1.0
3,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Barry Bostwick, Jason Alexander, Martin Short,...",English,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102 Dalmatians,movie,G,2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,...,Kevin Lima,"Adventure,Comedy,Family","United States,United Kingdom,France",English,100.0,NaN,NaN,NaN,NaN,NaN

In [8]:
#saving file for manual check
merged_df.to_csv('Resources/raw_merge_df.csv')

# Cleaning DF

In [9]:
#checking columns
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Rated', 'Year', 'Added_At', 'Runtime_x', 'Genre',
       'Director_x', 'Actors', 'Language_x', 'Country_x', 'Awards',
       'Metascore', 'Imdb_Rating', 'Imdb_Votes', 'Type_y_x', 'Director_y',
       'Cast', 'Country_y', 'Date_Added', 'Release_Year', 'Rating', 'Duration',
       'Listed_In', 'Year_x', 'Age_x', 'Imdb_x', 'Rotten Tomatoes_x',
       'Type_x_y', 'Directors', 'Genres', 'Country', 'Language_y', 'Runtime_y',
       'Year_y', 'Age_y', 'Imdb_y', 'Rotten Tomatoes_y', 'Type_y_y'],
      dtype='object')

Columns to combine
- Title', 
- Type_x_x', 'Type_y_x', Type_x_y, Type_y_y'
- Year', 'Release_Year' 'Year_x', 'Year_y'
- Rated', 'Rating'
- Age_x', 'Age_y'
- Added_At', 'Date_Added'
- Runtime_x', 'Duration', Runtime_y'
- Genre','Listed_In', 'Genres'
- Director_x','Director_y', 'Directors'
- Actors', 'Cast'
- Language_x', 'Language_y
- Country_x', 'Country_y', 'Country'
- Awards',
- Metascore',
- Imdb_x', 'Imdb_y
- Imdb_Rating',
- Imdb_Votes',
- Rotten Tomatoes_x', 'Rotten Tomatoes_y

### Functions

In [10]:
#writing a function that cleanly combines 2 columns
def combined_2_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column][i])):
                dropped_list.append(i)
                if (drop == True):
                    df = df.drop(i, axis = 0)
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column]

    # fixing columns
    df.reset_index(inplace = True)
    df.drop([collapse_column, 'index'], axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

In [11]:
#writing functions for 3 columns
def combined_3_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column[0]][i])):
                if (pd.isnull(df[collapse_column[1]][i])):
                    dropped_list.append(i)
                    if (drop == True):
                        df = df.drop(i, axis = 0)
                else:
                    df.loc[i, anchor_column] = df.loc[i, collapse_column[1]]
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column[0]]

    # fixing columns
    df.reset_index(inplace = True)
    collapse_column.append('index')
    df.drop(collapse_column, axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

In [12]:
#writing functions for 4 columns
def combined_4_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column[0]][i])):
                if (pd.isnull(df[collapse_column[1]][i])):
                    if (pd.isnull(df[collapse_column[2]][i])):
                        dropped_list.append(i)
                        if (drop == True):
                            df = df.drop(i, axis = 0)
                    else:
                        df.loc[i, anchor_column] = df.loc[i, collapse_column[2]]
                else:
                    df.loc[i, anchor_column] = df.loc[i, collapse_column[1]]
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column[0]]

    # fixing columns
    df.reset_index(inplace = True)
    collapse_column.append('index')
    df.drop(collapse_column, axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

In [13]:
#writing function to chop off unnecessary strings
def str_fix(df, column_name, delimiter, output_type):
    '''
    df = the dataframe youre working in
    column_name = the column that you want to clean
    delimiter = the separator in the text
    output_type = str if string, float if float, no value if just want default type
    '''
    #variable
    str_values = []
    corrected_values = []
    typed_values = []
    
    #splitting
    str_values = df[column_name].values.astype(str).tolist()
    corrected_values = [value.split(delimiter, 1)[0] for value in str_values]

    #fixing the nans
    for i in range(len(corrected_values)):
        if (corrected_values[i] == 'nan'):
            corrected_values[i] = ''
            
    #assigning back
    df[column_name] = corrected_values
    if (output_type == 'str'):
        df[column_name] = df[column_name].astype(str)
    elif (output_type == 'float'):
        df[column_name] = pd.to_numeric(df[column_name], errors = 'coerce')
    else:
        df[column_name] = corrected_values
    
    #return
    return None

### Condensing 2-Columns

In [14]:
#variables for for loop
anchor_ls = ['Age_x', 'Rated', 'Added_At', 'Rotten Tomatoes_x', 'Actors', 'Language_x', 'Runtime_x']
anchor_name_ls = ['Age Advisory Rating', 'Advisory Rating', 'Available to Public on', 'Rotten Tomatoes Score', 'Cast', 'Available Languages', 'Runtime']
column_ls = ['Age_y', 'Rating', 'Date_Added', 'Rotten Tomatoes_y', 'Cast', 'Language_y', 'Runtime_y']
boolean_ls = [False, False, False, False, False, False, False]

In [15]:
#Age, Rating, Date Added, Rotten, IMDB, Cast, Languages
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_2_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Age Advisory Rating, has 873 NaN's.
Cleaning Advisory Rating, has 316 NaN's.
Cleaning Available to Public on, has 168 NaN's.
Cleaning Rotten Tomatoes Score, has 586 NaN's.
Cleaning Cast, has 387 NaN's.
Cleaning Available Languages, has 705 NaN's.
Cleaning Runtime, has 733 NaN's.

In [16]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year',
       'Available to Public on', 'Runtime', 'Genre', 'Director_x', 'Cast',
       'Available Languages', 'Country_x', 'Awards', 'Metascore',
       'Imdb_Rating', 'Imdb_Votes', 'Type_y_x', 'Director_y', 'Country_y',
       'Release_Year', 'Duration', 'Listed_In', 'Year_x',
       'Age Advisory Rating', 'Imdb_x', 'Rotten Tomatoes Score', 'Type_x_y',
       'Directors', 'Genres', 'Country', 'Year_y', 'Imdb_y', 'Type_y_y'],
      dtype='object')

### Condensing 3-Columns

In [17]:
#variables for for loop
anchor_ls = ['Genre', 'Director_x', 'Country_x', 'Imdb_Rating']
anchor_name_ls = ['Genre', 'Director', 'Country', 'IMDB Score']
column_ls = [['Listed_In', 'Genres'], ['Director_y', 'Directors'], ['Country_y', 'Country'], ['Imdb_x', 'Imdb_y']]
boolean_ls = [True, False, False, False]

In [18]:
#Runtime, Genre, Director, Country
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_3_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Genre, dropped 169.
Cleaning Director, has 678 NaN's.
Cleaning Country, has 329 NaN's.
Cleaning IMDB Score, has 529 NaN's.

In [19]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year',
       'Available to Public on', 'Runtime', 'Genre', 'Director', 'Cast',
       'Available Languages', 'Country', 'Awards', 'Metascore', 'IMDB Score',
       'Imdb_Votes', 'Type_y_x', 'Release_Year', 'Duration', 'Listed_In',
       'Year_x', 'Age Advisory Rating', 'Rotten Tomatoes Score', 'Type_x_y',
       'Genres', 'Year_y', 'Type_y_y'],
      dtype='object')

### Condensing 4-Columns

In [20]:
#finding unique categorical values for Type
print(f"Unique categorical values are {merged_df['Type_x_x'].append(merged_df['Type_y_x']).append(merged_df['Type_x_y']).append(merged_df['Type_y_y']).unique()}")

#standardizing values
merged_df['Type_x_x'] = merged_df['Type_x_x'].str.title()
merged_df['Type_x_y'].replace(0, 'Movie', inplace = True)
merged_df['Type_y_y'].replace(1, 'TV Show', inplace = True)
merged_df['Type_x_x'].replace(['Series', 'Episode'], ['TV Show','TV Show'], inplace = True)

Unique categorical values are ['movie' 'series' nan 'episode' 'Movie' 'TV Show' 0.0 1.0]

In [21]:
#variables for for loop
anchor_ls = ['Type_x_x', 'Year']
anchor_name_ls = ['Offering Type', 'Year Released']
column_ls = [['Type_y_x', 'Type_x_y', 'Type_y_y'], ['Release_Year', 'Year_x', 'Year_y']]
boolean_ls = [True, False]

In [22]:
#Type and Release Year
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_4_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Offering Type, dropped 98.
Cleaning Year Released, has 98 NaN's.

In [23]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year Released',
       'Available to Public on', 'Runtime', 'Genre', 'Director', 'Cast',
       'Available Languages', 'Country', 'Awards', 'Metascore', 'IMDB Score',
       'Imdb_Votes', 'Type_y_x', 'Duration', 'Listed_In',
       'Age Advisory Rating', 'Rotten Tomatoes Score', 'Type_x_y', 'Genres',
       'Type_y_y'],
      dtype='object')

### Post Cleaning

In [24]:
#after manually reviewing file, still some cleaning to do
merged_df.dtypes

Title                      object
Type_x_x                   object
Advisory Rating            object
Year Released              object
Available to Public on     object
Runtime                    object
Genre                      object
Director                   object
Cast                       object
Available Languages        object
Country                    object
Awards                     object
Metascore                 float64
IMDB Score                 object
Imdb_Votes                 object
Type_y_x                   object
Duration                   object
Listed_In                  object
Age Advisory Rating        object
Rotten Tomatoes Score      object
Type_x_y                   object
Genres                     object
Type_y_y                   object
dtype: object

In [25]:
#manual adjustment
merged_df.drop(['Type_y_x', 'Listed_In', 'Type_x_y', 'Genres', 'Type_y_y'], axis = 1, inplace = True)
merged_df.rename(columns = {'Type_x_x' : 'Offering Medium', 'Imdb_Votes' : 'IMDB Votes'}, inplace = True)

In [26]:
#dropping the NaNs that didn't get picked up
for i in range(len(merged_df['Title'])):
    if (pd.isnull(merged_df.loc[i, 'Title']) | pd.isnull(merged_df.loc[i, 'Genre'])):
        merged_df.drop(i, axis = 0, inplace = True)

In [27]:
#resetting index after drops
merged_df.reset_index(inplace = True)
merged_df.drop('index', axis = 1, inplace = True)

In [28]:
merged_df['Duration'] = merged_df['Duration'].astype(str)
for i in range(len(merged_df['Duration'])):
    if ('Season' not in merged_df['Duration'][i]):
        merged_df.loc[i,'Duration'] = np.NaN

In [29]:
#saving file for manual check
merged_df.to_csv('clean_merge_df.csv')

In [30]:
#all floats
float_list = ['Runtime', 'IMDB Score', 'IMDB Votes', 'Duration', 'Rotten Tomatoes Score', 'Year Released']
delimiter_list = [' ', ' ', ' ', ' ', '/', '–']
type_list = ['float', 'float', 'float', 'float', 'float', 'str']
for i in range(len(float_list)):
    str_fix(merged_df, float_list[i], delimiter_list[i], type_list[i])

In [31]:
#after group meeting, changed the column headers
merged_df = merged_df.rename(columns = {'Offering Medium' : 'Type',
                                        'Rotten Tomatoes Score' : 'Rotten Tomatoes Rating',
                                        'Year Released' : 'Year',
                                        'Available Languages' : 'Language',
                                        'Age Advisory Rating' : 'Advisory Age',
                                        'Available to Public on' : 'Date Added',
                                        'IMDB Score' : 'IMDB Rating',
                                       })

In [32]:
#reroganizing column headers
print(merged_df.columns)
merged_df = merged_df[['Title', 'Type', 'Genre',
                       'Year', 'Date Added',
                       'Director', 
                       'Runtime', 'Duration',
                       'Country', 'Language',
                       'Rotten Tomatoes Rating', 'IMDB Rating',
                       'Advisory Rating', 'Advisory Age']]

Index(['Title', 'Type', 'Advisory Rating', 'Year', 'Date Added', 'Runtime',
       'Genre', 'Director', 'Cast', 'Language', 'Country', 'Awards',
       'Metascore', 'IMDB Rating', 'IMDB Votes', 'Duration', 'Advisory Age',
       'Rotten Tomatoes Rating'],
      dtype='object')

In [33]:
#prepping for mass merge
merged_df['Disney+'] = 1

In [34]:
#minor cleaning
merged_df.loc[:,'Advisory Rating'].replace(['APPROVED','Not Rated', 'UNRATED', 'NOT RATED', 'PASSED'], ['Approved', 'Unrated', 'Unrated', 'Unrated', 'Passed'], inplace = True)
merged_df['Advisory Rating'].unique()

array(['PG-13', 'TV-Y7', 'G', 'PG', 'TV-PG', 'Approved', 'TV-G',
       'Unrated', 'TV-Y', nan, 'TV-14', 'Passed', 'TV-Y7-FV'],
      dtype=object)

In [35]:
#saving file for manual check
merged_df.to_csv('Resources/clean_merge_df.csv', index = False)