# Setup

In [1]:
#dependecies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sts

#links for project
# Brainstorming: https://docs.google.com/document/d/12Z4DCdVAte6-cMMAv_EZIdZdDpvUzxOuDvNcNFio4PM/edit

# Importing/Merging DFs

In [2]:
#variables for forloop
import_filenames = ['disney_plus_content_1.csv', 'disney_plus_content_2.csv', 'movies_per_streaming.csv', 'shows_per_streaming.csv']

#variable to store all df data
df_list = []

#importing data
for path in import_filenames:
    df_list.append(pd.read_csv(f"Resources/{path}"))

We did a manual review of all the columns in our 10+ datasets and decided which columns to keep:

- Netflix
- Disney
- Hulu
------
- Title
- Type (movie vs show)
- Genre
- Rated (PG13)
- Starring/Cast
- Directors
- Year relased
- Age
- Awards
- Language
- Country
- Date_Added
- Release_Year
- Rotten Tomatoes
- IMDb
- Imdb_Rating
- Imdb_Votes
- Metascore
- Box Office
- Budget
- Running Time

### Precleaning

In [3]:
#defining function for dropping columns
def dropper(df, drop_columns):
    df = df.drop(drop_columns, axis = 1)
    return df

In [4]:
#variable for loop
df_column_list = [
    ['Imdb_Id', 'Plot', 'Released_At', 'Writer'],
    ['Show_Id', 'Description'],
    ['Unnamed: 0', 'Id', 'Netflix', 'Hulu', 'Prime Video'],
    ['Unnamed: 0', 'Id', 'Netflix', 'Hulu', 'Prime Video']
]

In [5]:
#capitalizing and then dropping unnecessary columns
for i in range(len(df_list)):
    df_list[i].columns = map(str.title, df_list[i].columns)
    df_list[i] = dropper(df_list[i], df_column_list[i])

In [6]:
#manually slicing of df2,3
for i in range(2,4):
    df_list[i] = df_list[i].loc[df_list[i]['Disney+'] == 1]
    df_list[i] = dropper(df_list[i], ['Disney+'])

### Merging DFs

In [7]:
#merging all dfs
merged_df_01 = pd.merge(df_list[0], df_list[1], on = 'Title', how = 'outer')
merged_df_34 = pd.merge(df_list[2], df_list[3], on = 'Title', how = 'outer')
merged_df = pd.merge(merged_df_01, merged_df_34, on = 'Title', how = 'outer')
merged_df.head()

,Title,Type_x_x,Rated,Year,Added_At,Runtime_x,Genre,Director_x,Actors,Language_x,...,Directors,Genres,Country,Language_y,Runtime_y,Year_y,Age_y,Imdb_y,Rotten Tomatoes_y,Type_y_y
0,10 Things I Hate About You,movie,PG-13,1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",...,NaN,NaN,NaN,NaN,NaN,2009.0,16+,7.3/10,67/100,1.0
1,101 Dalmatian Street,series,NaN,2018–,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,...,NaN,NaN,NaN,NaN,NaN,2019.0,7+,6.3/10,44/100,1.0
2,101 Dalmatians,movie,G,1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish",...,NaN,NaN,NaN,NaN,NaN,1997.0,NaN,NaN,21/100,1.0
3,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Barry Bostwick, Jason Alexander, Martin Short,...",English,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102 Dalmatians,movie,G,2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,...,Kevin Lima,"Adventure,Comedy,Family","United States,United Kingdom,France",English,100.0,NaN,NaN,NaN,NaN,NaN

In [8]:
#saving file for manual check
merged_df.to_csv('Resources/raw_merge_df.csv')

# Cleaning DF

In [9]:
#checking columns
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Rated', 'Year', 'Added_At', 'Runtime_x', 'Genre',
       'Director_x', 'Actors', 'Language_x', 'Country_x', 'Awards',
       'Metascore', 'Imdb_Rating', 'Imdb_Votes', 'Type_y_x', 'Director_y',
       'Cast', 'Country_y', 'Date_Added', 'Release_Year', 'Rating', 'Duration',
       'Listed_In', 'Year_x', 'Age_x', 'Imdb_x', 'Rotten Tomatoes_x',
       'Type_x_y', 'Directors', 'Genres', 'Country', 'Language_y', 'Runtime_y',
       'Year_y', 'Age_y', 'Imdb_y', 'Rotten Tomatoes_y', 'Type_y_y'],
      dtype='object')

Columns to combine
- Title', 
- Type_x_x', 'Type_y_x', Type_x_y, Type_y_y'
- Year', 'Release_Year' 'Year_x', 'Year_y'
- Rated', 'Rating'
- Age_x', 'Age_y'
- Added_At', 'Date_Added'
- Runtime_x', 'Duration', Runtime_y'
- Genre','Listed_In', 'Genres'
- Director_x','Director_y', 'Directors'
- Actors', 'Cast'
- Language_x', 'Language_y
- Country_x', 'Country_y', 'Country'
- Awards',
- Metascore',
- Imdb_x', 'Imdb_y
- Imdb_Rating',
- Imdb_Votes',
- Rotten Tomatoes_x', 'Rotten Tomatoes_y

### Functions

In [10]:
#writing a function that cleanly combines 2 columns
def combined_2_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column][i])):
                dropped_list.append(i)
                if (drop == True):
                    df = df.drop(i, axis = 0)
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column]

    # fixing columns
    df.reset_index(inplace = True)
    df.drop([collapse_column, 'index'], axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

In [11]:
#writing functions for 3 columns
def combined_3_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column[0]][i])):
                if (pd.isnull(df[collapse_column[1]][i])):
                    dropped_list.append(i)
                    if (drop == True):
                        df = df.drop(i, axis = 0)
                else:
                    df.loc[i, anchor_column] = df.loc[i, collapse_column[1]]
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column[0]]

    # fixing columns
    df.reset_index(inplace = True)
    collapse_column.append('index')
    df.drop(collapse_column, axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

In [12]:
#writing functions for 4 columns
def combined_4_columns(df, anchor_column, anchor_column_new_name, collapse_column, dropped_list, drop):
    '''
    anchor_column is the column series that you want everything to be compared to 
    anchor_column_new_name is the new name of that column
    collapse_column is the list of columns to combine
    dropped_list is an empty list that will track which values have NaN, used for debugging
    drop whether or not to drop the values
    '''
    # populate relevant column, and if no values then drop
    for i in range(len(df[anchor_column])):
        if (pd.isnull(df[anchor_column][i])):
            if (pd.isnull(df[collapse_column[0]][i])):
                if (pd.isnull(df[collapse_column[1]][i])):
                    if (pd.isnull(df[collapse_column[2]][i])):
                        dropped_list.append(i)
                        if (drop == True):
                            df = df.drop(i, axis = 0)
                    else:
                        df.loc[i, anchor_column] = df.loc[i, collapse_column[2]]
                else:
                    df.loc[i, anchor_column] = df.loc[i, collapse_column[1]]
            else:
                df.loc[i, anchor_column] = df.loc[i, collapse_column[0]]

    # fixing columns
    df.reset_index(inplace = True)
    collapse_column.append('index')
    df.drop(collapse_column, axis = 1, inplace = True)
    df.rename(columns = {anchor_column : anchor_column_new_name}, inplace = True)
    if (drop == True):
        return print(f"Cleaning {anchor_column_new_name}, dropped {len(dropped_list)}.")
    else:
        return print(f"Cleaning {anchor_column_new_name}, has {len(dropped_list)} NaN's.")

### Condensing 2-Columns

In [13]:
#variables for for loop
anchor_ls = ['Age_x', 'Rated', 'Added_At', 'Rotten Tomatoes_x', 'Actors', 'Language_x']
anchor_name_ls = ['Age Advisory Rating', 'Advisory Rating', 'Available to Public on', 'Rotten Tomatoes Score', 'Cast', 'Available Languages']
column_ls = ['Age_y', 'Rating', 'Date_Added', 'Rotten Tomatoes_y', 'Cast', 'Language_y']
boolean_ls = [False, False, False, False, False, False]

In [14]:
#Age, Rating, Date Added, Rotten, IMDB, Cast, Languages
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_2_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Age Advisory Rating, has 873 NaN's.
Cleaning Advisory Rating, has 316 NaN's.
Cleaning Available to Public on, has 168 NaN's.
Cleaning Rotten Tomatoes Score, has 586 NaN's.
Cleaning Cast, has 387 NaN's.
Cleaning Available Languages, has 705 NaN's.

In [15]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year',
       'Available to Public on', 'Runtime_x', 'Genre', 'Director_x', 'Cast',
       'Available Languages', 'Country_x', 'Awards', 'Metascore',
       'Imdb_Rating', 'Imdb_Votes', 'Type_y_x', 'Director_y', 'Country_y',
       'Release_Year', 'Duration', 'Listed_In', 'Year_x',
       'Age Advisory Rating', 'Imdb_x', 'Rotten Tomatoes Score', 'Type_x_y',
       'Directors', 'Genres', 'Country', 'Runtime_y', 'Year_y', 'Imdb_y',
       'Type_y_y'],
      dtype='object')

### Condensing 3-Columns

In [16]:
#variables for for loop
anchor_ls = ['Runtime_x', 'Genre', 'Director_x', 'Country_x', 'Imdb_Rating']
anchor_name_ls = ['Offering Duration', 'Genre', 'Director', 'Country', 'IMDB Score']
column_ls = [['Duration', 'Runtime_y'], ['Listed_In', 'Genres'], ['Director_y', 'Directors'], ['Country_y', 'Country'], ['Imdb_x', 'Imdb_y']]
boolean_ls = [False, True, False, False, False]

In [17]:
#Runtime, Genre, Director, Country
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_3_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Offering Duration, has 189 NaN's.
Cleaning Genre, dropped 169.
Cleaning Director, has 678 NaN's.
Cleaning Country, has 329 NaN's.
Cleaning IMDB Score, has 529 NaN's.

In [18]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year',
       'Available to Public on', 'Offering Duration', 'Genre', 'Director',
       'Cast', 'Available Languages', 'Country', 'Awards', 'Metascore',
       'IMDB Score', 'Imdb_Votes', 'Type_y_x', 'Release_Year', 'Listed_In',
       'Year_x', 'Age Advisory Rating', 'Rotten Tomatoes Score', 'Type_x_y',
       'Genres', 'Year_y', 'Type_y_y'],
      dtype='object')

### Condensing 4-Columns

In [19]:
#finding unique categorical values for Type
print(f"Unique categorical values are {merged_df['Type_x_x'].append(merged_df['Type_y_x']).append(merged_df['Type_x_y']).append(merged_df['Type_y_y']).unique()}")

#standardizing values
merged_df['Type_x_y'].replace(0, 'Movie', inplace = True)
merged_df['Type_y_y'].replace(1, 'TV Show', inplace = True)
merged_df['Type_x_x'].replace(['Series', 'Episode'], ['TV Show','TV Show'], inplace = True)

Unique categorical values are ['movie' 'series' nan 'episode' 'Movie' 'TV Show' 0.0 1.0]

In [20]:
#variables for for loop
anchor_ls = ['Type_x_x', 'Year']
anchor_name_ls = ['Offering Type', 'Year Released']
column_ls = [['Type_y_x', 'Type_x_y', 'Type_y_y'], ['Release_Year', 'Year_x', 'Year_y']]
boolean_ls = [True, False]

In [21]:
#Type and Release Year
for i in range(len(anchor_ls)):
    dropped_list = [] #reseting for every df
    combined_4_columns(merged_df, anchor_ls[i], anchor_name_ls[i], column_ls[i], dropped_list, boolean_ls[i])

Cleaning Offering Type, dropped 98.
Cleaning Year Released, has 98 NaN's.

In [22]:
print(merged_df.columns)

Index(['Title', 'Type_x_x', 'Advisory Rating', 'Year Released',
       'Available to Public on', 'Offering Duration', 'Genre', 'Director',
       'Cast', 'Available Languages', 'Country', 'Awards', 'Metascore',
       'IMDB Score', 'Imdb_Votes', 'Type_y_x', 'Listed_In',
       'Age Advisory Rating', 'Rotten Tomatoes Score', 'Type_x_y', 'Genres',
       'Type_y_y'],
      dtype='object')

### Post Cleaning

In [ ]:
#after manually reviewing file, still some cleaning to do
#manual adjustment
merged_df.drop(['Type_y_x', 'Listed_In', 'Type_x_y', 'Genres', 'Type_y_y'], axis = 1, inplace = True)
merged_df.rename(columns = {'Type_x_x' : 'Offering Medium', 'Imdb_Votes' : 'IMDB Votes'}, inplace = True)

In [ ]:
#dropping the NaNs that didn't get picked up
for i in range(len(merged_df['Title'])):
    if (pd.isnull(merged_df.loc[i, 'Title']) | pd.isnull(merged_df.loc[i, 'Genre'])):
        merged_df.drop(i, axis = 0, inplace = True)

In [44]:
merged_df['Year Released'].values

array(['1999', '2018–', '1996', '2002', '2000', '2011', '1954', '1998',
       '2020', '1995', '1995', '1946', '2002', '1977', '2018', '2019',
       '1992', '1996', '1994', '1951', '2010', '2005', '1949', '2000',
       '1962', '1989–', '2004', '2015–', '1981', '2000', '2017–2019',
       '1999', '2019', '2004', '2017', '2003', '2001', '2018',
       '2011–2016', '2009', '1932', '1961', '1942', '2006', '2018',
       '1939', '1955', '1991', '1998', '1997', '2005', '1971', '2008',
       '1955', '2016', '1987', '2015–2016', '1988', '2018–', '2014',
       '2017–', '2009', '1968', '1994', '2018–', '1938', '2008',
       '1993–1994', '2003', '1993–2000', '2011–', '2012', '1997', '2017',
       '1998', '2003', '2006', '2005', '2018–', '2008', '2002', '1994',
       '2008', '2010', '1999', '1977', '1941', '2006', '2011', '2017',
       '2008', '2010', '2008', '2013', '2012', '2008', '2009', '2013',
       '1986', '2003', '1989', '1941', '2005', '1988–1990', '1947',
       '1950', '2001', '2007', '1937', '2014', '2017', '2008', '2004',
       '2016', '1993', '2018–', '1951', '2006', '2012–2014', '2009',
       '1959', '1991–1992', '1956', '1955', '2010', '2017', '2003',
       '2017', '2019', '2003', '2017', '2020–', '2010', '2000', '2016',
       '2019–', '2010', '2015', '2017–', '2016–2019', '2010', '2015',
       '2015–', '2014–', '2019–', '2018–', '2019', '2012', '2012–2016',
       '2014–2015', '2020–', '2011–2016', '2009–2010', '2015–2018',
       '2016–2019', '2018–', '2006–2016', '2016–', '2011–2016', '2014',
       '2012–2015', '2017–', '2015–2019', '2016–2018', '2019–', '2010–',
       '2016–', '2018', '2017–', '1985–1991', '1996–1999', '1987–1990',
       '2017–', '1998–1999', '1997', '2002–2007', '2019', '2005–2009',
       '1996–1997', '1997–2001', '2006–2008', '2000', '1992–1994', '1989',
       '1966', '2011', '2014', '2016', '2012', '2008', '2015', '2019',
       '2011', '2020', '2012–', '1998', '2001', '2004–2016', '2019–',
       '2020', '1953', '1999', '1940', '1938', '1943', '1946', '2002',
       '1999', '2014–', '2019–', '1954', '2017', '2014', '2011', '2016',
       '2018–', '2015', '1990', '2009', '2019', '2017', '2009', '2003',
       '2006', '2016–', '2020', '1936', '1964', '2004', '2019–', '1975',
       '2000–2003', '2016', '2017–', '1940', '1999', '1994–1996',
       '2006–2010', '1938', '2016', '2003', '1996', '2010–2014', '1986',
       '2019', '1932', '1997', '2000', '2020', '2020', '1995', '2012',
       '1984', '1976', '2003', '2018', '2018', '2012', '2013', '2019',
       '2003', '1947', '1986', '2009', '1994–1996', '2011', '1999',
       '1997', '2003', '1997', '2002', '2014–2017', '2006', '2005',
       '2004', '2010–2014', '2011', '1992–1993', '2019–', '2002', '1934',
       '2010–', '1961', '1976', '1971', '1998', '2004', '2001',
       '2006–2013', '2006–2011', '2008', '2009', '2009', '1937', '1995',
       '2013–', '1980', '1977', '1974', '2005', '2006', '2007', '2008',
       '2019–', '2019', '1993', '2003', '1997', '2004', '1996', '1993',
       '1992', '1989', '1997', '1999', '2019–', '2001', '2016', '2014',
       '1942', '1942', '1944', '1942', '2013–2015', '1998', '2002',
       '2016', '2005', '2008–', '2020', '2015', '2015', '1999', '2003',
       '2019', '2018', '2006', '2015', '1994–1996', '2008', '2008–2012',
       '1994', '1996', '2005', '1996', '2017', '2011–2015', '2013',
       '2012', '2007', '1999', '2009', '2008–', '1959', '2007', '2001',
       '1997', '1960', '1972', '1996', '2011–2015', '2005', '2009',
       '2019', '2019', '2005', '2011', '2012–2016', '2019', '1955',
       '2001', '1952', '2020', '2016–', '2018–', '2015', '2016', '2016–',
       '2014', '2014', '2014', '2013–', '2011', '1941', '2006', '2012',
       '1952', '2013–', '2005', '1993', '2018', '2006', '2002',
       '2003–2006', '2005', '2001–2004', '2003', '1937', '2020', '2019–',
       '2018–', '2017', '2001', '2020', '1937', '2017', '2011', '2018',
       '2014', '1994–1998', '1996–1998', '1992–1997', '2019', '2019',
       '2019', '2018', '2019', '2019', '2018', '2014', '2015', '2017',
       '2015', '2019', '2018', '2016', '2011', '2014', '2019', '2016',
       '2014', '2015–', '2017', '2010', '2013', '2012', '2011', '2017',
       '2013', '2017–', '2012–2017', '2015–2016', '2013–', '2017–',
       '2019–', '2017', '2013', '2017–', '2017–2019', '2017–',
       '1981–1982', '1964', '2006', '1998', '2007', '1948', '2013–',
       '1955–1958', '2017–', '2004', '1942', '1983', '1999', '1936',
       '1938', '2004', '1998', '2002', '2015–', '2004', '2008', '2004',
       '1998', '2000', '2014', '1947', '2018', '2016', '2000', '2013',
       '2001', '2001', '1986', '1940', '1940', '1998', '2004', '2018–',
       '2015–', '1996', '2014', '1969', '1999', '2007–2010', '2004',
       '2007', '1951', '1992', '2017', '2019', '2005', '2017', '2009',
       '1957', '1988', '1935', '2005', '2019–', '1961', '1985', '2005',
       '2018–', '2020', '1995', '2017–', '1951', '1998–2004', '2019–',
       '2009', '2014', '2020', '1957', '1977', '2016', '1953', '2002',
       '2000', '2004–2006', '2007–2015', '2011', '2013', '2019–', '2003',
       '1940', '2016', '2007', '2006', '2011', '2003', '2019–', '2004',
       '2015–', '1952', '1952', '1948', '1995', '1998', '1960', '1997',
       '2005', '2008', '2016–', '2009', '2011', '1953', '2017–', '2018',
       '1996–1997', '2016', '2000', '2007', '2006', '2000', '2003',
       '2001', '2003', '2012', '1987', '2000', '1978', '2006', '1985',
       '1998', '2003', '2000', '1973', '2018', '2016', '1993', '2006',
       '1998', '2014–', '2004', '1942', '1962', '2015', '2012', '1932',
       '2013', '2018', '2017', '1939', '2012', '2010', '2017', '1956',
       '2010', '2018–', '2010–2013', '2011', '2014–', '1990', '1998',
       '2007', '1992', '1993', '2009', '1959', '1997–1999', '1999',
       '2019', '2002', '1937', '1972', '2007', '1999–2001', '1939',
       '2009–2011', '2016–', '1981–1986', '1999–2005', '1979–1980',
       '1984', '2017–', '2014–2018', '2018–', '1977', '2002', '2017',
       '1983', '2005', '2008–2020', '2008', '1980', '2015', '2017',
       '1999', '2020', '2010', '1928', '2000', '2003', '2008', '2004',
       '1980', '2013', '2009', '2014–', '1940', '1960', '1990–1991',
       '1995', '2010', '2017', '2017–2020', '2002', '2004', '2000–2005',
       '2015', '2013', '2011', '1997', '1965', '2003–2007', '1961',
       '1967', '1993', '1949', '1955–', '1955', '1975', '1979', '1970',
       '1941', '2010–2012', '1999–2000', '1935', '1974', '2016', '1934',
       '1972', '1985', '1979', '2013', '2001–2004', '1975', '1998',
       '1974', '1978', '2003', '2006', '2008', '1986', '2008', '2005',
       '2000', '1969', '2002', '2000', '2003', '2016', '2018', '1981',
       '2006', '2007', '1980', '1934', '1935', '2015', '1986', '1981',
       '2005', '2003', '1939', '1996', '2002', '2019–', '2011–', '2016',
       '1963', '2004', '1985', '1967', '2003', '1998', '2010', '2012',
       '2019', '1994', '2004', '1998', '2000', '2008', '1953', '2016–',
       '2019', '1968', '2019–', '1977', '1971', '2012', '1992', '1979',
       '2011', '2015–2016', '1988–1991', '1953', '2012', '1937', '1942',
       '1952', '2000', '1961', '1998', '1933', '1956', '2001', '1962',
       '1990', '2009', '1987', '2001', '2004', '2001–2005', '2005',
       '1941', '2006–2009', '1977', '1990', '1991', '2002', '2007',
       '1994', '2002', '2006', '2002', '2007', '1976', '1959', '1958',
       '1989–', '1978', '1965', '1952', '1999', '1975', '2011',
       '2005–2008', '2008–2011', '2009–2011', '2016', '1963', '1999',
       '1944', '1993', '2000', '1935', '1966', '1939', '2000', '1954',
       '2006', '1934', '2013', '2019', '2019–', '2003', '1965', '2001',
       '1933', '1987', '1990', '1994', '2004', '1993', '2020',
       '1995–1999', '1988', '2008', '2010', '2009', '2017', '1936',
       '2019', '1995', '1995', '1999', '2010', '2019', '2011', '2011',
       '2009', '1950', '1950', '1976', '2002', '1982', '2012–2013',
       '2010', '2002', '2002', '1940', '1989', '2018', '2001', '2005',
       '2007', '1979', '2012–', '2009', '2000', '2005', '2019', '2012–',
       '2009', '2008', '1952', '2006', '2000', '1991', '1988', '2012–',
       '1988', '2019', '2012', '2011', '2002', '2003', '1949',
       '2007–2012', '2009', '2008–2009', '2012', '2000–2003', '2017',
       '1963', '1998', '2003', '2007', '2018', '2014', '1999', '2001',
       '2004', '2016'], dtype=object)

In [32]:
merged_df['Year Released'].replace('–', '')

0       1999
1      2018–
2       1996
3       2002
4       2000
       ...
987     2014
988     1999
989     2001
990     2004
991     2016
Name: Year Released, Length: 885, dtype: object

In [ ]:
#saving file for manual check
merged_df.to_csv('clean_merge_df.csv')

# Summary Statistics
- total # offerings
- breadth of offering? # of subcategories etc.
- min/max/mean of duration of
- seasons
- then per episode
- min/max/mean of ... 
- customer rating
- critical reception

# BY SUBCATEGORY ()
- total # offerings
- breadth of offering? # of subcategories etc.
- min/max/mean of duration of
- seasons
- then per episode
- min/max/mean of ... 
- customer rating
- critical reception